body * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*header*/

div.descuentos {
    background-color: #D1891C;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
}

header {
    position: sticky; 
    top: 0px;
    z-index: 4;
}

h1 {
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-weight: lighter;
    height: 50px;
    
}

/*main*/
main div.contenedorboton {
    align-items: center;
    background-color: #00669F;
    border-radius: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 0%;
    top: 50%;
    width: 50px;
    z-index: 2;
    
}


main img.mas {
    height: 20px;
    width: 20px;
    
}

/* section */
.contarticle1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contarticle2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


article{
    background-color: #F3F3F3;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    height: 529px;
    margin: 60px 40px 10px;
    position: relative;
    width: 300px;
    
}

article img.cardbckgr{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 193px;
    width: 300px;
    z-index:0;
}



article img.cardimg{
    border-radius: 50%;
    height: 120px;
    left: 90px;
    position: absolute;
    top: 125px;
    width: 120px;
    z-index: 1;
    
    
}

article img.corazon{
    display: inline-block;
    position: absolute;
    right: 250px;
    top: 15px;
}

article > div{
    bottom: 120px;
    padding: 0% 5%;
    position: absolute;
    text-align: center;
}

.boton {
    background-color: #00669F;
    color: #F3F3F3;
    display: inline-block;
    padding: 10px 40px;
    position: absolute;
    right: 90px;
    text-align: center;
    top: 170px;
}

/*footer*/
footer {
    align-content: center;
    align-items: center;
    background-color: #00669F;
    color: #FFF9F9;
    display: flex;
    font-weight: lighter;
    font-size: 1rem;
    flex-wrap: wrap;
    height: 70px;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

footer p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-right: 200px;
}

footer img {
    height: 40px;
    margin-right: 40px;
    position: absolute;
    right: 0%;
    width: 150px;

}


