body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky; 
    top: 0px;
    z-index: 4;
}

nav {
    background-color: #1CD1B0;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
}


h1 {
    background-color: #00669F;
    font-weight: lighter;
    height: 50px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);

}

article {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 529px;
    margin: 60px;
    background-color: #F3F3F3;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

article .cardbckgr {
    z-index:0
}

article .cardimg {
    position: absolute;
    top: 125px;
    left: 90px;
    z-index: 1;
    border-radius: 50%;
    
}

article .corazon {
    position: absolute;
    display: inline-block;
    right: 250px;
    top: 15px;
}

article > div{
    position: absolute;
    bottom: 120px;
    padding: 0% 5%;
    text-align: center;
}

.boton {
    position: absolute;
    top: 170px;
    right: 90px;
    display: inline-block;
    background-color: #00669F;
    padding: 10px 40px;
    color: #F3F3F3;
    text-align: center;
}

footer {
    height: 50px;
    background-color: #00669F;
    color: #FFF9F9;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    padding: 1% 0%;
}
